# exe file
*.exe

# picture
*.jpg
*.jpeg
*.png
*.gif
*.tif

# 忽略資料夾
.idea/*

# 忽略這類型的所有資料夾
**/__pycache__
**/logs

# 忽略log檔格式
*.yaml
*.log
*.conf

# 忽略訓練的模型
*.h5

# 忽略資料集
*.zip

# 排除測試檔案
!/target_img/3x3_color_map.png
!/element_img/blue_test_img1.jpg
!/element_img/blue_test_img2.jpg
!/element_img/blue_test_img3.jpg
!/element_img/brown_test_img.jpg
!/element_img/green_test_img.jpg
!/element_img/orange_test_img.png
!/element_img/pink_test_img.jpg
!/element_img/purple_test_img.jpg
!/element_img/red_test_img.jpg


